/* COMMON */

body {
    font-family: 'Inter', sans-serif;
}


/* HEADER */

/* top nav */
.top_nav {
    padding: 20px 0;
}

.ms_logo {
    width: 100%;
    max-width: 190px;   
}

.nav_menu {
    line-height: 35px;
}

.nav_menu a {
    color: hsl(221,93%,16%);

}

.nav_menu_left li {
    margin-right: 10px;
}

.nav_menu_right li {
    margin-left: 10px;    
}

.nav_menu_right {
    text-align: right;
}

.ms_nolistyle {
    list-style-type: none;    
}
.ms_nolistyle li {
    display: inline-block;
}

.burger_menu {
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
}

/* MAIN */

/* jumbotron section */

.ms_jumbo {
    background-image: url("../img/ms-jumbo.jpg");
}

.jumbo_content {
    padding: 20px 0;
}

.jumbo_teaser {
    color: white;    
}
.jumbo_teaser h1{
    font-size: 55px;
}
.jumbo_teaser p {
    font-size: 18px;
    font-weight: 100;
}

.jumbo_form {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px 20px;
}

.google_button {
    position: relative; 
      
}

.google_logo {
    width: 5%; 
    position: absolute;
    left: 0;    
} 