/* COMMON */

body {
    font-family: 'Inter', sans-serif;
    min-width: 320px;
}

.ms_section {
    padding: 40px 0;
}

.bg_grey {
    background-color: #f3f5f9;
}

.section_title {
    text-align: center;    
}

.section_title h3 {
    color: #031b4e;
    padding: 10px 0;
}

.section_title p {
    color: #7989b0;
    font-size: 16px;
}

.blue_link {
    color: #0064f8;
    font-size: 12px;
}

.blue_link:hover {
    color: #1633ff;
    text-decoration: none;
}

.small_wrapper {
    width: 80%;
    margin:auto;
    padding: 40px 0;   
}

.bg_blue {
    background: linear-gradient( to bottom, #0048C6 0%, #001F9A 100% );
    color: white;    
}

.bg_blue h3 {
    text-align: center;
    padding: 40px 0 20px 0;
}

.ms_nolistyle {
    list-style-type: none;
    padding: 0;    
}

.ms_nolistyle li {
    display: inline-block;
}
/* HEADER */

/* top nav */
.top_nav {
    padding: 20px 0;
}

.ms_logo {
    width: 100%;
    max-width: 190px;   
}

.nav_menu {
    line-height: 35px;
}

.nav_menu a {
    color: hsl(221,93%,16%);

}

.nav_menu_left {
    text-align: center;
}

.nav_menu_left li {
    margin-right: 10px;
}

.nav_menu_right {
    text-align: right;
}

.nav_menu_right li {
    margin-left: 10px;  
}

.burger_menu {
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
}

/* MAIN */

/* jumbotron section */

.ms_jumbo {
    background-image: url("../img/ms-jumbo.jpg");
}

.jumbo_content {
    padding: 20px 0;
}

/* jumbo teaser */
.jumbo_teaser {
    color: white;    
}
.jumbo_teaser h1{
    font-size: 55px;
}
.jumbo_teaser p {
    font-size: 18px;
    font-weight: 100;
}

/* jumbo form */

.jumbo_form {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px 20px;
}

.jumbo_form h2 {
    font-size: 25px;
}

.jumbo_form h3 {
    color: #1633ff;    
} 

.jumbo_form a {
    text-decoration: underline;
}
.jumbo_form p {
    margin: 10px 0;
}


.google_button {
    position: relative;
    width:100%;
    padding: 10px 0;  
    margin-top: 2px;
    border:0;
    background-color: white;
    box-shadow: 1px 1px 1px lightgrey;
    border-radius: 5%;
}    
.google_logo {
    width: 5%; 
    position: absolute;
    left: 0;    
} 

/* brand section */

.brand_text {
    text-transform: uppercase;
    color: #646987;
    text-align: center;
}

.brand_icons {
    list-style-type: none;
    padding: 0;
}

.brand_icons li {
    display: inline-block;
    width: calc( (100% / 6 ) - 4px );       
}

.brand_icons li img {
    width: 100%;    
}


@media all and (max-width: 778px) {
    .brand_icons li {
        width: calc( (100% / 2 ) - 2px );
        text-align: center;                
    }
    .brand_icons li img {
        width: 80%;
    }
}


/* how to and tools section */

.tools_list {    
    border-left: 1px solid grey;  
}

.tools_list ul {
    list-style-type: none;
    padding: 20px; 
}

.tools_list li {
    margin-bottom: 20px;
}
/* SISTEMARE I TAG A */

.tools_box {
    margin-bottom: 30px;
}

.tools_box h4 {
    color: #031b4e;
}

/* user section */

.ms_smaller {
    width: 50%;
    max-width: 800px;
    margin: auto;
    padding: 40px 0;
}

.user_slider {
    position: relative;
}

.chevron_left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;   
}

.chevron_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    right: -30px;   
}
.chevron_right i{
    color: darkblue;  
}

.ms_chevron {
    font-size: 25px;    
}

.ms_user {
    font-size: 40px;
}


/* customers section */

.tab_line::after {
    content:"";    
    border-bottom: 1px solid white;
    display: block;
    padding-top: 10px;
}

.tab_line {
    margin-top: 10px;
}

.city_code {
    padding-left: 20px;
}

.tab_city {    
    opacity: 0.6;
    font-size: 12px;
} 

.cyan_link  {
    color: #00d7d2;
    font-size: 12px;
    padding-left: 15px;
}

.cyan_link i {
    padding-left: 15px;
}

.cyan_link:hover {
    text-decoration: none;
    color: white;
}

/* rockerox section */

.rockerbox {
    background-color: white;
    text-align: center;
}

.rockerbox img {
    width: 50%;
    padding: 40px 0 20px 0;
}

.rockerbox p {
    font-size: 18px;
    color: #646987; 
}

.o_toole {
    color: #031b4e;
    font-weight: 600;
}

.small_text {
    font-size: 12px;
    color: #031b4e;
}

.rockerbox  a {
    display: block;
    padding: 40px 0;
}

/* started section */

.ms_btn {
    background-color: white;
    color:#0064f8;    
}

/* FOOTER */

.bg_dkblue {
    background-color:#031b4e;
}

.foot_content h5{
    color: white;
}

.foot_content a {
    color: #646987;    
}

.copy_social small {
    display: block;
    color: lavenderblush;
    padding-top: 10px;
}

.foot_content .small_text {
    color: #646987;
}

.foot_content .ms_nolistyle li {
    padding: 10px 10px 0 0;
    font-size: 22px;    
}

.foot_menu {
    list-style-type: none;
}

.foot_menu li {
    padding-bottom: 5px;
}

.foot_menu li a {
    font-size: 12px;
    
}








