/* COMMON */

body {
    font-family: 'Inter', sans-serif;
    min-width: 320px;
}

.ms_section {
    padding: 40px 0;
}

.blue_link {
    color: #0064f8;
    font-size: 12px;
}

.blue_link:hover {
    color: #1633ff;
    text-decoration: none;
}


/* HEADER */

/* top nav */
.top_nav {
    padding: 20px 0;
}

.ms_logo {
    width: 100%;
    max-width: 190px;   
}

.nav_menu {
    line-height: 35px;
}

.nav_menu a {
    color: hsl(221,93%,16%);

}

.nav_menu_left {
    text-align: center;
}

.nav_menu_left li {
    margin-right: 10px;
}

.nav_menu_right {
    text-align: right;
}

.nav_menu_right li {
    margin-left: 10px;    
}

.ms_nolistyle {
    list-style-type: none;
    padding: 0;    
}
.ms_nolistyle li {
    display: inline-block;
}

.burger_menu {
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
}

/* MAIN */

/* jumbotron section */

.ms_jumbo {
    background-image: url("../img/ms-jumbo.jpg");
}

.jumbo_content {
    padding: 20px 0;
}

/* jumbo teaser */
.jumbo_teaser {
    color: white;    
}
.jumbo_teaser h1{
    font-size: 55px;
}
.jumbo_teaser p {
    font-size: 18px;
    font-weight: 100;
}

/* jumbo form */

.jumbo_form {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px 20px;
}

.jumbo_form h2 {
    font-size: 25px;
}

.jumbo_form h3 {
    color: #1633ff;    
} 

.jumbo_form a {
    text-decoration: underline;
}
.jumbo_form p {
    margin: 10px 0;
}


.google_button {
    position: relative;
    width:100%;
    padding: 10px 0;  
    margin-top: 2px;
    border:0;
    background-color: white;
    box-shadow: 1px 1px 1px lightgrey;
    border-radius: 5%;
}    
.google_logo {
    width: 5%; 
    position: absolute;
    left: 0;    
} 

/* brand section */

.brand_section {
    background-color: #f3f5f9;
}

.brand_text {
    text-transform: uppercase;
    color: #646987;
    text-align: center;
}

/* da sistemare le img */



